In [53]:
import pandas as pd

In [54]:

file = "Myh.xlsx"
columnames = ['company_name','address','postal_code','city','email','phone_number','course_name']
df = pd.read_excel(file, names=columnames) # names == columns

In [55]:
display(df.head(3))

,company_name,address,postal_code,city,email,phone_number,course_name
0,AGSTU AB,Oxbacksgatan 2B,72461,Västerås,mia.lindh@agstu.com,070-2864344,FPGA - ingenjör
1,ALEA Kompetenshöjning AB,Anderstorpsvägen 22,17154,Solna,info@arenayrkeshogskola.se,010-7880039,Energioptimering och navigationsteknik för fra...
2,ALEA Kompetenshöjning AB,Anderstorpsvägen 22,17154,Solna,info@arenayrkeshogskola.se,010-7880039,Grön budgetering - Klimatdeklarationens ekonomi

In [ ]:
# df.groupby('company_name').count()
df_count = pd.DataFrame(df['company_name'].value_counts())

In [ ]:
print(df_count.count())
display(df_count.head())

count    253
dtype: int64

                                    count
company_name
YH Akademin AB                         56
TUC Sweden AB - Yrkeshögskola          49
Göteborgs Stad, Yrgo                   48
Nackademin AB                          42
Plushögskolan AB - Teknikhögskolan     32

In [ ]:
df_count_merged = pd.merge(df_count, df, how='left', on=['company_name']) # each row has a "count" column with that schools number of courses

In [59]:
len(pd.unique(df_count_merged['company_name']))

253

In [67]:
df_count_merged["courses"] = \
    df_count_merged.apply(
        lambda row: df_count_merged[df_count_merged['company_name'] == row.company_name].loc['course_name'],
        axis=1
    )

KeyError: 'course_name'

In [ ]:

df_count_merged['courses']

In [ ]:
import json

# Add supplier detail on each document (row)
df_products['SupplierDescription'] = \
    df_products.apply(lambda row: json.loads(
        # df_suppliers.query(f"SupplierID == {row.SupplierID}") # alternative method for searching
    df_suppliers[df_suppliers['SupplierID'] == row.SupplierID]
        .to_json(orient='records')
    ), axis=1) # bygger fortfarande en lista...

# display(df_products.to_json(orient='records'))
display(df_products)
print(type(df_products))

# Add all courses for the school in one row
df_products['SupplierDescription'] = \
    df_products.apply(lambda row: json.loads(
        # df_suppliers.query(f"SupplierID == {row.SupplierID}") # alternative method for searching
        df_suppliers[df_suppliers['SupplierID'] == row.SupplierID].to_json(orient='records')
    ), axis=1) # bygger fortfarande en lista...